:root {
    --color-success: rgba(0, 128, 0, 0.8);
    --color-danger: rgba(255, 0, 0, 0.8);
--color-shadow: rgba(0, 128, 0, 0.4);  
--color-border: rgba(0, 128, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.screen {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: rgba(128, 128, 128, 0.2);
}

.project-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 12px 12px;
    gap: 12px;
}

.project-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.project-list li:active {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.08);
}

.main-content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

.project-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dialog-wrapper > .dialog {
    width: 90%; 
    margin: 0 auto;
    max-width: 800px;
    border-radius: 8px;
    border: 2px solid black;
    padding: 24px;
}

.todos-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dialog > header {
    margin-bottom: 15px;
    font-weight: bold;
}

.dialog > button,
.btn-create-todo,
.btn-update-todo,
.btn-delete-todo
 {
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: none;
    color: white;
    margin: 10px 5px;
    cursor: pointer;
    font-weight: bold;
}

.save,
.btn-create-todo,
.btn-update-todo {
    background-color: var(--color-success); 
}

.close,
.btn-delete-todo {
    background-color: var(--color-danger); 
}

.dialog-fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dialog-fields-wrapper > input {
    height: 30px;
}

.dialog-fields-wrapper > textarea {
    height: 150px;
}

.dialog-fields-wrapper > input[type=checkbox] {
    height: 20px;
    align-self: baseline
}

.todo-wrapper {
    overflow: auto;
    height: 280px;
    width: 350px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 2px 2px 5px var(--color-success);
}

.todo-wrapper:hover {
    box-shadow: 0px 20px 50px var(--color-success);
    transform: translateY(-2px);
    transition: all 0,2s ease;
}

.todo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}

.todo-content > p {
    margin: 3px 3px;
}


